#footer{
    
    margin-top:40%;
    padding:20px;
    color:#fff;
    background: #333;
}

#submitform{
    margin-right:25%;
    margin-left:25%;
}


#errorMessages{
    margin-right:25%;
    margin-left:25%;
}

#kategorije{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

#urediKorisnika{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

#usredini{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

#dugmeKategorije{
    width:50%;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;

}

#likeUnlikeButton{
    width:10%;
    margin-left:45%;
    margin-right:45%;
    word-wrap:break-word;
}


#imeAutora{
    text-align:center;
    font-size:90%;
}

#likeLink{
   display: block;
   width:10%;
   margin-left:45%;
   margin-right:45%;
}

#textVica{
    font-size:200%;
}

#vic{
    text-align:center;
    word-wrap:break-word;
    width:50%;
    margin-right: 25%;
    margin-left: 25%;
}

#nisamRobot{
    text-align:center;
    float:center;
}