#footer{
    
    margin-top:40%;
    padding:20px;
    color:#fff;
    background: #333;
}

#submitform{
    margin-right:25%;
    margin-left:25%;
}


#errorMessages{
    margin-right:25%;
    margin-left:25%;
}

#kategorije{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}